/.settings
.classpath
.project
/target
/EmployeeSpring
/springweb
/Servers
/demoSpring
/.metadata
/.recommenders
/EmployeeLogin/.settings
/EmployeeLogin/.classpath
/EmployeeLogin/.project
/EmployeeLogin/target
/EmployeeLogin/src/test


/TagLibrarySpring/.settings
/TagLibrarySpring/.classpath
/TagLibrarySpring/.project
/TagLibrarySpring/target
/TagLibrarySpring/src/test

/springdemo/.settings
/springdemo/.classpath
/springdemo/.project
/springdemo/target
/springdemo/src/test

/EmployeeDBExample/.settings
/EmployeeDBExample/.classpath
/EmployeeDBExample/.project
/EmployeeDBExample/target
/EmployeeDBExample/src/test

/LoginRegistration/.settings
/LoginRegistration/.classpath
/LoginRegistration/.project
/LoginRegistration/target
/LoginRegistration/src/test

